<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Avatar</th>
      <th scope="col">Name</th>
      <th scope="col">Username </th>
      <th scope="col">Email </th>
      <th scope="col">Gender </th>
      <th scope="col">Birthday </th>
      <th scope="col">Phone </th>
      <th scope="col">Action </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users; let i = index">
      <th scope="row"> {{item.id}} </th>

      <td>
        <img [src]="'http://localhost:3000/' + item.avatar" alt="" width="100">
      </td>
      <td [formGroup]="formUsers.at(i)">
        <input required=true *ngIf="item.editing" type="text" formControlName="name">
        <div *ngIf="!formUsers.at(i).controls['name'].valid">
          Name is required.
        </div>
        <div *ngIf="!item.editing">
          {{item.name}}
        </div>
      </td>

      <td [formGroup]="formUsers.at(i)">
        <input *ngIf="item.editing" type="text" formControlName="username">
        <div *ngIf="!item.editing">
          {{item.username}}
        </div>
      </td>

      <td [formGroup]="formUsers.at(i)">
        <input *ngIf="item.editing" type="text" formControlName="email">
        <div *ngIf="!item.editing">
          {{item.email}}
        </div>
      </td>

      <td [formGroup]="formUsers.at(i)">
        <select *ngIf="item.editing" formControlName="gender">
          <option value="0">Male</option>
          <option value="1">Female</option>
        </select>
        <div *ngIf="!item.editing">
          {{item.gender === "0" ? "Male" : "Female"}}
        </div>
      </td>


      <td [formGroup]="formUsers.at(i)">

        <input *ngIf="item.editing" type="date" formControlName="birthday">
        <div *ngIf="!item.editing">
          {{item.birthday}}
        </div>
      </td>

      <!-- <td [formGroup]="formUsers.at(i)">

        <input *ngIf="item.editing" type="file" formControlName="image">
        <div *ngIf="!item.editing">
          {{item.avatar}}
        </div>
      </td> -->

      <td [formGroup]="formUsers.at(i)">
        <input *ngIf="item.editing" type="text" formControlName="phone">
        <div *ngIf="!item.editing">
          {{item.phone}}
        </div>
      </td>

      <td [formGroup]="formUsers.at(i)">
        <button [disabled]="item.name.errors?.['required']" class="btn btn-primary mr-2" (click)="goToEdit(i, item.id)">
          {{item.editing? 'Save' : 'Edit'}}
        </button>
        <button *ngIf="!item.editing" class="btn btn-danger" (click)="delete(item.id)"> Delete </button>
      </td>
    </tr>

  </tbody>
</table>

<app-modal (cancelModal)="closeModal()" (confirmModal)="confirmDelete(deleteID)" [modalDisplay]="modalDisplay">
  Do you want to delete user with ID: {{deleteID}}

</app-modal>
